$primary-color: #2ECC71

@font-face
  font-family: 'Inconsolata'
  src: url('fonts/Inconsolata.otf')

@font-face
  font-family: 'Lobster'
  src: url('fonts/Lobster.otf')

body
  background-color: black
  color: $primary-color
  font-family: Inconsolata
  font-size: 1.5em

h2 
  font-family: Lobster
  font-style: italic
  font-size: 1.4em
  padding-top: 1em
  font-weight: normal

table
  width: 100%
  border-collapse: collapse
  font-size: 100%

::-webkit-scrollbar
    width: 0px
